{% extends 'base.html' %}

{% block title %}Upcoming Events{% endblock title %}

{% block header %}Upcoming Events{% endblock header %}

{% block head %}
  <script>
    // var app = angular.module("myApp", []);

    myApp.controller("myCtrl", function($scope) {
      $scope.test = "hello world!";
    });

    myApp.controller("eventCtrl", function($scope) {
      $scope.showDetails = false;
      $scope.details = "";

      $scope.toggleDetailDisplay = function(event) {
        $scope.showDetails = !$scope.showDetails;

        if ($scope.details == "") {
          $scope.details = "Fetching Details";
          console.log(event["Id"]);
          fetch("event/" + event["Id"])
            .then(function(res){
              return res.text();
            }).then(function(text){
              // console.log(text);
              var event_json = JSON.parse(text);
              console.log(event_json);
              $scope.details = event_json["Description"];
              $scope.$digest();
            });
            };
};
    });
  </script>
{% endblock head %}

{% block content %}
  <body ng-app="myApp"  ng-controller="myCtrl" ng-init="events = {{ events }}">
  <!-- [[ events ]] -->

<!--   <ul ng-repeat="(key, value) in events | groupBy: 'Date'">
    Group name: [[ key ]]
    <li ng-repeat="event in value">
      event: [[ event.Name ]] 
    </li>
  </ul> -->

    {% if events %}
      {% for event in events %}
        <div ng-if="1" class="card my-1 py-0"> 
          <h5 ng-if="1"class="card-header"> {{ event["Date" ] }} </h5>

          <div class="card my-1 py-0 mx-1" ng-controller = "eventCtrl"> 
            <h5 class="card-header"> {{ event["Time"]}} | {{ event["Name"] }}
              <button class= "btn btn-primary float-right mx-2" ng-click="toggleDetailDisplay({{ event }})" target="_blank">+</button>
              <a class= "btn btn-primary float-right" href= "{{ event['Register'] }}" target="_blank">Register</a>
            </h5>
            <div class="card-body" ng-if="showDetails">
              <div class="d-flex align-items-center flex-row">
                <div ng-bind="details">
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </body>
{% endblock content %}
